@use '~bootstrap/scss/bootstrap';
@use "theme-light";
@use "theme-dark";


#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

textarea {
  resize: none;
}

.cursor-pointer {
  cursor: pointer;
}

.text-multy-ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
