@use "bootstrap/scss/functions" as *;

.tasks-list {
  //margin: 0 auto;
  max-height: calc(100% - 105px);
  overflow: auto;

  &__content {
    display: flex;
    gap: 20px;
    min-height: 100%;

    &.container-lg {
      max-width: 1500px;
    }
  }
}

.tasks-list-item__controls {
  position: absolute;
  display: flex;
  align-items: center;
  right: 16px;
  bottom: 4px;
  gap: 8px;
}

.tasks-list-item__date {
  position: absolute;
  font-size: 0.75rem;
  color: #7b7b7b;
  left: 16px;
  bottom: 2px;
}

.tasks-list-column {
  height: 100%;
  border-radius: 5px;
  background: var(--background-dark-gray);

  &__header {
    background: var(--background-gray);
    border-radius: 5px;
    position: sticky;
    top: -24px;
    z-index: 2;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
